
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="apple-touch-icon.png"/>
    <link rel="apple-touch-icon" href="apple-touch-icon-tile-swap.png">
    <link rel="apple-touch-startup-image" href="launch.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="slider.css">
    <script src="https://unpkg.com/vue@2"></script>

    <!-- Primary Meta Tags -->
    <title>Tile Swap | Artridge</title>
    <meta name="title" content="Tile Swap | Artridge">
    <meta name="description" content="TileSwap is a procedurally generated puzzle game, for an infinite amount of fun!">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://artridge.ch/TileSwap/">
    <meta property="og:title" content="Tile Swap | Artridge">
    <meta property="og:description" content="TileSwap is a procedurally generated puzzle game, for an infinite amount of fun!">
    <meta property="og:image" content="https://artridge.ch/assets/images/GameLogos/TileSwap.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="https://artridge.ch/assets/images/GameLogos/TileSwap.png">
    <meta property="twitter:url" content="https://artridge.ch/TileSwap/">
    <meta property="twitter:title" content="Tile Swap | Artridge">
    <meta property="twitter:description" content="TileSwap is a procedurally generated puzzle game, for an infinite amount of fun!">
    <meta property="twitter:image" content="https://artridge.ch/assets/images/GameLogos/TileSwap.png">
  </head>

  <body>
    <div id="app">

      <div class="splash-screen">
        <h1 class="title">
          <span>tile</span><span>swap</span>
        </h1>
      </div>

      <div class="screen menu" v-show="screen === 'menu'">
        <h1 class="title">
          <span>tile</span><span>swap</span>
        </h1>

        <div id="buttons">
          <button v-for="btn in gameModes" :data-title="btn.title" @click="btn.fn()">
            <img :src="'images/' + btn.title + '.png'" alt="">
          </button>
        </div>

        <div class="bottom-bar">
          
          <div class="left"></div>

          <div class="right">

            <button style="background-image: url(images/settings.png);" @click="openScreen('settings')"></button>
            <button style="background-image: url(images/help.png);" @click="openScreen('help')"></button>
            <button style="background-image: url(images/stats.png);" @click="openScreen('stats')"></button>

          </div>

        </div>
      </div>

      <div class="screen layouts" v-show="screen === 'layouts'">
        
        <div class="screen-header">
          <p>select a layout</p>
          <p>{{score}}</p>
        </div>
        
        <button class='sort' @click='sortBy("switch", "layouts")'>sort by:<br>{{layoutsSorting}}<br>{{ isMobile ? sortOrder === 1 ? '🠙' : '🠛' : ''}}</button>
        <button v-if='!isMobile' class='sort-order' @click='sortOrder *= -1; sortBy(layoutsSorting, "layouts")'>
          {{ sortOrder === 1 ? (isMobile ? '🠙' : 'ascending') : (isMobile ? '🠛' : 'descending') }}
        </button>
        <button class='back' @click='openScreen("menu")'>back</button>
        
        
        <div class='layout-container'>
        </div>
      </div>

      <div class="screen freeplay" v-show="screen === 'freeplay' || screen === 'puzzles' || screen === 'challenges'">
        
        <button class='back' @click='screen === "challenges" ? openPopup(5) : openScreen(screen === "freeplay" ? "layouts" : "puzzles-selection")'>back</button>
        
        <div class="screen-header" v-if="screen === 'challenges'">
          <p v-if="!challenge.endless">{{challenge.baseTime === -1 ? 'No time limit' : formatTime(challenge.currentTime)}} - {{ challengeProgress }}% completed</p>
          <p v-if="challenge.endless">{{formatTime(challenge.currentTime)}} - Score: {{ challenge.completedMoves }}</p>
        </div>

        <div class="puzzle-target" v-show="screen === 'puzzles'"></div>

        <div class="puzzle-info" v-show="screen === 'puzzles'">
          <h1></h1>
          <button class="retry" @click="retryPuzzle();">retry</button>
        </div>
        
        <div id="main" :style="{ '--primary': primaryColor, '--secondary': secondaryColor }">
          <div id="container">
            
          </div>
        </div>
        <div id="controls" v-show="screen === 'freeplay'">
          <div class="buttons">
            <button id="randomize" onclick="randomize(true);">randomize</button>
            <button id="rotate" onclick="rotatePattern();">rotate</button>
          </div>
          <div class="difficulty">
            <h2>difficulty - <span id="difficulty"></span></h2>
            <input class="slider" id="slider" value="10" type="range" min="2" :max="currentLayout.width * currentLayout.height - currentLayout.exclude.length" step="1"></input>
          </div>
        </div>
      </div>

      <div class="screen puzzles" v-show="screen === 'puzzles-selection'">
        

        <div class="screen-header">
          <p>select a puzzle</p>
          <p>{{score}}</p>
        </div>
        
        <button class='sort' @click='sortBy("switch")'>sort by:<br>{{puzzleSorting}}<br>{{ isMobile ? sortOrder === 1 ? '🠙' : '🠛' : ''}}</button>
        <button v-if='!isMobile' class='sort-order' @click='sortOrder *= -1; sortBy(puzzleSorting)'>
          {{ sortOrder === 1 ? (isMobile ? '🠙' : 'ascending') : (isMobile ? '🠛' : 'descending') }}
        </button>
        <button class='back' @click='openScreen("menu")'>back</button>

        <div class="layout-container">

        </div>
      </div>

      <div class="screen challenge-selection" v-show="screen === 'challenge-selection'">
        <button class='back' @click='openScreen("menu")'>back</button>
        <div class="screen-header">
          <p>select a challenge</p>
          <p>{{score}}</p>
        </div>

        <div class="buttons">
          <button @click="selectChallenge('sprint')">sprint (1min)</button>
          <button @click="selectChallenge('normal')">normal (3min)</button>
          <button @click="selectChallenge('marathon')">marathon (5min)</button>
          <button @click="selectChallenge('endurance')">endurance (no time limit)</button>
        </div>

      </div>

      <div class="screen challenge-difficulty-selection" v-show="screen === 'challenge-difficulty-selection'">
        <button class='back' @click='openScreen("challenge-selection")'>back</button>
        <h1 class="screen-header">{{challenge.type}}</h1>

        <div class="buttons">
          
          <button @click="selectChallengeDifficulty('easy');" :class="{ completed: challengeStats('easy').val === 100 }">easy 
            {{ challengeStats('easy').val === 100 ? 
                `(${formatTime(challengeStats('easy').time)})` : 
                 (challengeStats('easy').val !== 0 ? 
                 `(${challengeStats('easy').val}%)` : '') }}</button>
          
          <button @click="selectChallengeDifficulty('medium');" :class="{ completed: challengeStats('medium').val === 100 }">medium 
            {{ challengeStats('medium').val === 100 ? 
                `(${formatTime(challengeStats('medium').time)})` : 
                 (challengeStats('medium').val !== 0 ?
                 `(${challengeStats('medium').val}%)` : '') }}</button>
          
          <button @click="selectChallengeDifficulty('hard');" :class="{ completed: challengeStats('hard').val === 100 }">hard 
            {{ challengeStats('hard').val === 100 ? 
                `(${formatTime(challengeStats('hard').time)})` : 
                 (challengeStats('hard').val !== 0 ?
                 `(${challengeStats('hard').val}%)` : '') }}</button>
          
          <button @click="selectChallengeDifficulty('expert');" :class="{ completed: challengeStats('expert').val === 100 }">expert 
            {{ challengeStats('expert').val === 100 ? 
                `(${formatTime(challengeStats('expert').time)})` : 
                 (challengeStats('expert').val !== 0 ?
                 `(${challengeStats('expert').val}%)` : '') }}</button>
          
          <button @click="selectChallengeDifficulty('endless');" :class="{ completed: challengeStats('endless').completed }" v-show="challenge.type !== 'endurance'">endless {{ challengeStats('endless').completed ? `(${challengeStats('endless').val})` : '' }}</button>
        
        </div>
      </div>

      <div class="screen settings white" v-show="screen === 'settings'">
        <button class='back' @click='openScreen("menu")'>back</button>
        <h1 class="screen-header">settings</h1>
        <main>
          <p v-if="user">You are logged in as <a href="https://artridge.ch/#Account">{{ user.displayName }}</a>.</p>
          <p v-if="!user">Please login or sign up on <a href="https://artridge.ch/#Account">artridge.ch</a>.</p>

          <h3>Cosmetics</h3>

          <table>
            <tbody>
              <tr>
                <td>Tile 1:</td>
                <td>
                  <button 
                    v-for="color in colors"
                    class="settings-color"
                    :class="{ selected: color === primaryColor }"
                    :style="{ backgroundColor: color }"
                    @click="selectColor(1, color)"></button>
                </td>
              </tr>
              <tr>
                <td>Tile 2:</td>
                <td>
                  <button 
                    v-for="color in colors"
                    class="settings-color"
                    :class="{ selected: color === secondaryColor }"
                    :style="{ backgroundColor: color }"
                    @click="selectColor(2, color)"></button>
                </td>
              </tr>
            </tbody>
          </table>

        </main>
      </div>

      <div class="screen help white" v-show="screen === 'help'">
        <button class='back' @click='openScreen("menu")'>back</button>
        <h1 class="screen-header">Help</h1>
      </div>

      <div class="screen stats white" v-show="screen === 'stats'">
        <button class='back' @click='openScreen("menu")'>back</button>
        <h1 class="screen-header">Stats</h1>

        <main>
          <ul>
            <li v-for="stat in stats">{{ stat.name }}: {{ stat.display(stat.val) }}</li>
          </ul>
        </main>
      </div>

      <div class="screen tutorial">
        Tutorial

        <div></div>
      </div>

      <div class="background" @click="closePopup(0);"></div>
      <div class="popup">
        <h1>you won in <span></span> moves!</h1>
        <button @click="closePopup(0);">yay!</button>
      </div>

      <div class="background" @click="closePopup(1); openScreen('puzzles-selection');"></div>
      <div class="popup">
        <h1>no moves remaining!</h1>
        <button @click="closePopup(1); retryPuzzle();">retry</button>
        <button @click="closePopup(1); openScreen('puzzles-selection');">back</button>
      </div>

      <div class="background" @click="closePopup(2); openScreen('challenge-selection')"></div>
      <div class="popup">
        <h1>you completed the challenge!</h1>
        <button @click="closePopup(2); openScreen('challenge-selection')">yay!</button>
      </div>

      <div class="background" @click="closePopup(3); openScreen('challenge-selection');"></div>
      <div class="popup">
        <h1>no time left.</h1>
        <button @click="closePopup(3); openScreen('challenge-selection');">back</button>
      </div>

      <div class="background" @click="closePopup(4); openScreen('challenge-selection');"></div>
      <div class="popup">
        <h1>you completed the challenge with a score of {{ challenge.completedMoves }}</h1>
        <button @click="closePopup(4); openScreen('challenge-selection');">back</button>
      </div>

      <div class="background" @click="closePopup(5);"></div>
      <div class="popup">
        <h1>are you sure you want to quit the challenge?</h1>
        <button @click="closePopup(5); openScreen('challenge-selection');">yes</button>
        <button @click="closePopup(5);">no</button>
      </div>

    </div>

    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>

    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAbUbveOjn6VMB1QaAZHIR2hYxFfEbQ2Qo", authDomain: "artridge-website.firebaseapp.com", databaseURL: "https://artridge-website.firebaseio.com", projectId: "artridge-website", storageBucket: "artridge-website.appspot.com", messagingSenderId: "554359864126", appId: "1:554359864126:web:56901925bba81278fb0a6f", measurementId: "G-0KJBNGLJL4"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

    <script src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://artridge.ch/icon.js"></script>
  </body>
</html>
